.slide {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -150px;
    width: 100%;
    z-index: -2;
    opacity: 0;
    transition: opacity 0.5s;
}

.question__container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 60%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    margin: 20px auto;
}
.qc_style {
    background-color: crimson;
    border-radius: 10px;
    border: 2px dashed rgba(255, 255, 255, 0.7);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.38), 0px 1px 2px rgba(0, 0, 0, 0.4);
}
.slide_active {
    opacity: 1;
    z-index: 2;
}

.question {
    padding-left: 10px;
}
.question__header {
    font-size: 23px;
    text-align: center;
    margin-bottom: 15px;
}
.answer__input {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}
.ai_style {
    width: 100%;
    line-height: 22px;
    outline: none;
    text-indent: 5px;
}
.ta_style {
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
}