.radio__container {
    display: flex;
    flex-direction: column;
}

.radio-block {
    margin-bottom: 31px;
}

.snow-radio {
    position: absolute;
    display: none;
}

.snow-label {
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

.snow-radio + .snow-label {
    position: relative;
    padding: 0 0 0 30px;
    display: inline-block;
}

.snow-radio + .snow-label::before {
    content: ' ';
    background-image: url("../rsc/snowflake-radio.png");
    border: 1px solid #C1C1C1;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: 0;
    opacity: 0.5;
}

.snow-radio + .snow-label::after {
    background-image: url("../rsc/snowflake-radio.png");
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    opacity: 0;
}

.snow-radio:checked + .snow-label::before {
    opacity: 1;
}

.snow-radio:hover + .snow-label::before {
    opacity: 0.85;
}