html, body{
    margin:0;
    padding:0;
    overflow:hidden;
}

#candybox {
    width: 100%;
    height: 100vh;
    position: relative;
    top: -50px;
    box-sizing: border-box;
    background-image: url("../rsc/bg.png");
    background-size: cover;
}

.card__container {
    width: 777px;
    height: 450px;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    margin: -200px -370px;
    box-sizing: border-box;
}
.cc_text {
    color: white;
    font-family: "Roboto", serif;
}

.card {
    z-index: 100;
    background-color: darkred;
    position: relative;
    width: 777px;
    height: 450px;
    border-radius: 10px;
    box-sizing: border-box;
}

.card__header {
    display: flex;
    flex-grow: 0;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.header__start {
    text-align: center;
    font-size: 27px;
    margin: 0 auto;
}

.header__name {
    display: flex;
    align-self: flex-end;
    font-size: 34px;
}

.ch__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}
.chc__left-angle {
    display: flex;
    flex-direction: column;
}
.chc__first-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.chc__second-row {
    display: flex;
    justify-content: center;
}
.header__congrats{
    font-size: 25px;
}

.card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
}
.content__wish-container {
    display: flex;
    justify-content: center;
    width: 700px;
    flex-grow: 1;
    margin-bottom: 30px;
    padding-left: 25px;
    box-sizing: border-box;
}
.wc_style {
    text-align: center;
}
.content__wish {
    width: 100%;
    font-size: 24px;
    border-radius: 10px;
    word-wrap: break-word;
}

.card__footer {
    display: flex;
    position: absolute;
    top: 85%;
    width: 100%;
    justify-content: center;
}
.cf_after {
    position: relative;
    box-sizing: border-box;
    top: 0;
    padding-right: 55px;
    justify-content: flex-end;
}

.card__button {
    background-color: crimson;
    color: white;
    width: 120px;
    height: 30px;
    border-color: #680000;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.card__button:hover {
    background-color: #cb0000
}
.card__button:not(:last-of-type) {
    margin-right: 10px;
}